*{
    box-sizing: border-box;
}
body{
    margin: 0; min-height: 100vh; display: flex; flex-direction: column; background-image: linear-gradient(45deg, #ccc, #eee); font-family: Arial, Helvetica, sans-serif;
}
header, footer{
    flex-shrink: 0;
}
main{
    flex-grow: 1;
}
.wrapper{
    max-width: 1200px; margin: auto; border: 1px solid; padding-left: 10px !important; padding-right: 10px !important;
}

/* Header */
.header-cont{
    display: flex; justify-content: space-between; align-items: center;
}
.header-cont > h1{
    color: blue;
}
nav > ul{
    list-style-type: none;
}
nav > ul li{
    display: inline-block;
}
nav > ul li a:link, nav > ul li a:visited{
    display: inline-block; padding: 10px; text-decoration: none; border-radius: 10px; transition: all 0.3s ease-in;
}
nav > ul li a:hover{
    background-color: blue; color: white;
}

/* Main : Section */
.main-cont{
    text-align: center; padding: 40px 0;
}
.user-image{
    max-width: 350px; height: auto; border-radius: 50%;
}


/* footer */
footer p{
    text-align: center;
}