/* Page : About */
.about-top{
    padding: 50px 10px 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; color: #aaa;
}
.about-top > .mcr-name{
    color: #bbb; text-shadow: 0 0 8px black;
}
.about-top > ul{
    margin: 0; padding: 0; list-style-type: none; text-align: center;
}
.about-top > ul li{
    margin: 7px auto; font-size: 1.1rem; text-shadow: 0 0 10px black;
}

.about-text{
    padding: 20px 10px; margin-top: 20px; color: #eee;
}
.about-text > h2{
    color: yellow; text-shadow: 0 0 5px black; font-size: 2rem; margin-bottom: 0;
}
.about-text > p{
    line-height: 1.35; font-size: 1.1rem;
}
.about-text > p::first-letter{
    font-size: 1.4rem; margin-right: 2px; color: yellowgreen;
}