*{
    box-sizing: border-box;
}
body{
    margin: 0; min-height: 100vh; display: flex; flex-direction: column; background-image: linear-gradient(45deg, rgba(0,0,0,0.75), rgba(0,0,0,0.95)); font-family: Arial, Helvetica, sans-serif;
}
header, footer{
    flex-shrink: 0;
}
main{
    flex-grow: 1;
}
.wrapper{
    max-width: 1400px; margin: auto; padding-left: 10px; padding-right: 10px;
}

/* Header */
header{
    position: fixed; width: 100%; background-image: linear-gradient(90deg, rgba(50,50,50), rgb(10,10,10)); z-index: 3;
}
.header-cont{
    display: flex; justify-content: space-between; align-items: center; padding-right: 18px; padding-left: 18px;
}
.header-cont > h1{
    color: rgba(0,0,0,0.5); text-shadow: 0 0 1px #bbb;
}

/* Top Navigation */
nav{
    position: relative;
}
nav > ul{
    list-style-type: none; transition: all 0.4s;
}
nav > ul li{
    display: inline-block;
}
nav > ul li a:link, nav > ul li a:visited{
    display: inline-block; padding: 10px; text-decoration: none; border-radius: 10px; transition: all 0.3s ease-in; color: #bce; font-size: 1.1rem; font-weight: 600;
}
nav > ul li a:hover{
    background-color: black; box-shadow: 0 0 3px #eee;
}
.top-nav-active{
    box-shadow: 0 0 3px rgba(255,255,255, 0.35);
}
/* Hamburger Nav icon*/
.hamburger{
    width: 35px; height: 30px; cursor: pointer; display: none;
}
.hamburger > div{
    width: 35px; height: 4px; background-color: black; transition: all 0.4s ease; margin-top: 6px; box-shadow: 0 0 2px white;
}
.h-change .bar1{
    transform: rotate(-45deg) translate(-7px, 7px);
}
.h-change .bar2{
    opacity: 0;
}
.h-change .bar3{
    transform: rotate(45deg) translate(-7px, -7px);
}
.tnc-change{
    opacity: 1.0 !important; pointer-events: auto !important;
}

/* Main : Section */
main{
    margin-top: 80px;
}
.main-cont{
    text-align: center; padding: 70px 10px; display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap; gap: 10px;
}
.user-image{
    max-width: 350px; height: auto; border-radius: 50%;
}
.main-cont-right{
    color: white;
}
.mcr-hey{
    font-size: 1.4rem; margin: 10px auto; color: #aaa;
}
.mcr-name{
    font-size: 2.5rem; margin: 18px auto;
}
.mcr-rule{
    margin: 10px auto; color: #aaa; min-width: 310px;
}
.mcr-rule::after{
    content: '_'; color: white;
}
.lets-talk{
    background-color: #eee; color: black; border: 1px solid black; display: inline-block; padding: 8px 20px; font-size: 1rem; border-radius: 10px; opacity: 0.5; margin-top: 20px; transition: all 0.3s ease; text-decoration: none;
}
.lets-talk:hover{
    opacity: 1.0;
}
.mcr-btn-dance{
    animation-name: danceBtn; animation-duration: 2s; animation-timing-function: ease;
}
@keyframes danceBtn {
    0%{
        transform: rotate(0); opacity: 0.5;
    }
    25%{
        transform: rotate(10deg); opacity: 0.8;
    }
    50%{
        transform: rotate(0); opacity: 0.2;
    }
    75%{
        transform: rotate(-10deg); opacity: 0.8;
    }
    100%{
        transform: rotate(0); opacity: 0.5;
    }
}


/* Services Section */
#service-section{
    margin-top: 70px; margin-bottom: 100px; padding: 0 5px;
}
.services-cont{
    color: white;
}
.services-row{
    display: flex; gap: 1.5rem; flex-wrap: wrap;
}
.services-col{
    background-color: rgba(0,0,0,0.35); flex: 1; padding: 30px 20px; border-radius: 10px; color: lightblue; position: relative;
}
.services-col > i{
    font-size: 2rem; color: orange;
}
.services-col > h3{
    font-size: 1.3rem;
}
.services-col > p{
    line-height: 1.3; opacity: 0.85; margin-bottom: 30px;
}
.services-col > button, .services-col > a{
    padding: 7px 20px; border: 1px solid rgba(255,255,255,0.2); border-radius: 10px; background-color: rgba(0,0,0,0.25); color: lightblue; font-size: 0.9rem; opacity: 0.7; transition: all 0.3s; cursor: pointer; position: absolute; bottom: 10px; right: 10px; z-index: 1;
}
.services-col > a{
    width: fit-content; text-decoration: none;
}
.services-col > button:hover, .services-col > a:hover{
    opacity: 1;
}


/* footer */
footer{
    padding-top: 15px; padding-bottom: 20px; color: #aaa; background-color: rgba(0,0,0,0.5);
}
.footer-cont{
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
}
.footer-cont > div{
    width: 50%;
}
.footer-links{
    text-align: center;
}
.footer-links p{
    margin: 5px auto 8px;
}
.footer-links a{
    text-decoration: none; border-radius: 50%;
}
.footer-links i{
    color: whitesmoke; font-size: 1.6rem; margin: 5px; transition: all 0.3s;
}
.footer-links i:hover{
    transform: scale(1.5);
}
.footer-right{
    text-align: center;
}
.footer-right a{
    color: #abc; text-decoration: none;
}
.footer-right a:hover{
    color: white;
}
.footer-right p{
    margin: 5px auto;
}

/* Universal Styles */
.text-center{
    text-align: center;
}
.text-light{
    color: #bbb;
}
.text-readable{
    font-size: 1.15rem; line-height: 1.5;
}
.fs-h2{
    font-size: 1.8rem;
}

/* Media Screen */
@media screen and (max-width: 1023px){
    .services-col{
        flex-basis: calc(50% - (3rem/2));
    }
}
@media screen and (max-width: 767px){
    .top-nav{
        position: absolute; top: 25px; right: -13px; z-index: 1; background-color: rgba(0,0,0,0.7); width: 250px; height: 350px; text-align: right; padding: 20px 5px; opacity: 0; pointer-events: none;
    }
    .top-nav li{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .user-image{
        max-width: 300px;
    }
}
@media screen and (max-width: 580px){
    .footer-cont > div{
        width: 100%;
    }
    .services-row{
        justify-content: center;
    }
    .services-col{
        flex: 0 0 95%;
    }
}
@media screen and (max-width: 424px){
    .mcr-rule{
        min-width: auto;
    }
    .user-image{
        width: 80%;
    }
}